body {
    margin: 0;
    background-color: #1E261F;
    font-family: 'VT323', monospace;
    color: #00FF33;
    margin: 20px;
    text-shadow: 0px 0px 10px #00FF33;
    /* display: flex; */
}

::selection { /*This removes blur and glow of text when highlighted*/
    background: #0080FF;
    text-shadow: none;
}

.link /*Make the links match the rest of the site*/
{
   color:white;
   text-shadow: 0px 0px 10px white;
   text-decoration: none; 
   background-color: none;
}

.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00FF33; }
  }

  